<!DOCTYPE html>
<html>
<head>
<title>Cricket Countdown</title>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!-- //for-mobile-apps -->
<link href='//fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href="static/css/jquery.classycountdown.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
<link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
    <div class="container-fluid">
    <div class="layer">
    <div class="content">
        <h1>{{ match['match'] }}</h1><br>
        <h2>{{ match['series'] }}</h2>

            <div class="main">
				<div id="countdown9" class="ClassyCountdownDemo"></div>
			</div>
    </div>
		
    <footer id="contact" class="footer">
        <div class="container-fluid text-center">
            <p class="copy_rights">&copy; 2017 Get Set Python | All Rights Reserved </p>
        <div class="end">
            <a href="https://www.freecodecamp.com/umangahuja1" class="btn btn " id="fcc" target="_blank" ><i class="fa fa-free-code-camp fa-circle"></i>  </a>
            <a href="https://www.facebook.com/umang.ahuja.1" class="btn" id="fb" target="_blank"><i class="fa fa-facebook"></i>  </a>
            <a href="https://www.linkedin.com/in/umang-ahuja-260140110/" class="btn" target="_blank" ><i class="fa fa-linkedin"></i>  </a>
            <a href="https://github.com/umangahuja1" id="gt"  class="btn" target="_blank"><i class="fa fa-github"></i>  </a>
            <a href="https://www.quora.com/profile/Umang-Ahuja" class="btn" id="quora" target="_blank" ><i class="fa fa-quora fa-circle"></i>  </a>
            <a href="https://www.youtube.com/channel/UC2R1v4d75yXisbufyoLYryA" class="btn" id="youtube" target="_blank" ><i class="fa fa-youtube fa-circle"></i>  </a>
        </div>
    </div>
        </footer>
    </div>
</div>
            	<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
				<script src="{{ url_for('static', filename = 'js/jquery.knob.js') }}"></script>
				<script src="{{ url_for('static', filename = 'js/jquery.throttle.js') }}"></script>
				<script src="{{ url_for('static', filename = 'js/jquery.classycountdown.js') }}"></script>
									<script>
                                        $(document).ready(function() {
                                            $('#countdown9').ClassyCountdown({
                                                
                                                end: Date.UTC({{ match['year'] }} , {{ match['month'] -1 }}, {{ match['date'] }}, {{ match['hours'] }}, {{ match['minutes'] }} , 0)/1000,
                                                now: $.now()/1000,
                                                labels: true,
                                                style: {
                                                    element: "",
                                                    textResponsive: .5,
                                                    days: {
                                                        gauge: {
                                                            thickness: .10,
                                                            bgColor: "rgba(0,0,0,0)",
                                                            fgColor: "#1abc9c",
                                                            lineCap: 'round'
                                                        },
                                                        textCSS: 'font-weight:300; color:#fff;'
                                                    },
                                                    hours: {
                                                        gauge: {
                                                            thickness: .10,
                                                            bgColor: "rgba(0,0,0,0)",
                                                            fgColor: "#05BEF6",
                                                            lineCap: 'round'
                                                        },
                                                        textCSS: ' font-weight:300; color:#fff;'
                                                    },
                                                    minutes: {
                                                        gauge: {
                                                            thickness: .10,
                                                            bgColor: "rgba(0,0,0,0)",
                                                            fgColor: "#8e44ad",
                                                            lineCap: 'round'
                                                        },
                                                        textCSS: ' font-weight:300; color:#fff;'
                                                    },
                                                    seconds: {
                                                        gauge: {
                                                            thickness: .10,
                                                            bgColor: "rgba(0,0,0,0)",
                                                            fgColor: "#f39c12",
                                                            lineCap: 'round'
                                                        },
                                                        textCSS: ' font-weight:300; color:#fff;'
                                                    }

                                                },
                                                onEndCallback: function() {
                                                    console.log("Time out!");
                                                }
                                            });
                                        });
                                    </script>
</body>
</html>
